{
    "printWidth": 150,
    "tabWidth": 4,
    "trailingComma": "all",
    "semi": true,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
