# Copy from .gitignore, remove once prettier v3 is in use
.idea

.npm
.babelCache

.env.local
.env.secrets

# Go Templates can not be formatted with prettier (https://github.com/prettier/prettier/issues/6517)
chart/*/templates/*

.github/pull_request_template.md
