.title {
    appearance: none;
    border: none;
    background-color: transparent;
    color: inherit;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid var(--palette-gray-300);
    padding: var(--spacing-s300) 0;
}

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
}

.animatedChevron {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
}

.animatedChevronExpanded {
    transform: rotate(-180deg);
}

.content {
    overflow: hidden;
}

.innerContent {
    padding-bottom: var(--spacing-s300);
    margin-top: -100%;
    opacity: 0;
    transition: margin-top 0.8s ease-out 0.3s, opacity 0.3s linear;
}

.innerContentExpanded {
    margin-top: 0;
    opacity: 1;
    transition: margin-top 0.5s ease-out, opacity 0.3s linear 0.4s;
}
