@use "@src/styles/variables" as *;

.pageLayoutContent {
    grid-column: 3 / -3;
}

.notFound {
    margin-top: var(--spacing-s300);
    margin-bottom: var(--spacing-s300);
}

.homeLink {
    text-decoration: none;
    display: inline-block;
    padding: var(--spacing-s100) 0;
    font-family: var(--font-family);
    color: var(--palette-text-primary);

    &:hover {
        color: var(--palette-primary-main);
    }

    &.active {
        text-decoration: underline var(--palette-primary-main);
        text-underline-offset: 8px;
    }
}
