.overflowContainer {
    width: 100%;
}

.scrollContainer {
    opacity: 0;
    transition:
            opacity 0.5s ease-in-out var(--fade-delay, 0ms),
            transform 1.3s cubic-bezier(0.22, 1, 0.36, 1) var(--fade-delay, 0ms);

    //@media (max-width: 599px) {
    //    /* No animation on mobile, or adjust as needed */
    //    transition: none;
    //    opacity: 1;
    //    transform: none;
    //}
}

.fullHeight {
    height: 100%;
}

.fromLeft {
    transform: translate3d(-50px, 0, 0);
}

.fromRight {
    transform: translate3d(50px, 0, 0);
}

.fromTop {
    transform: translate3d(0, -50px, 0);
}

.fromBottom {
    transform: translate3d(0, 50px, 0);
}

.fadeIn {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
