.env
.env.local
.env.secrets
.env.site-configs

/node_modules

/build

/lang/
/lang-compiled/
/lang-extracted/

fragmentTypes.json
/schema.*

**/*.generated.ts
/block-meta.json
src/comet-config.json
src/site-configs.d.ts

.swc/
