name: Test

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - next
  push:
    branches:
      - main
      - next

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ github.actor }}"

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Use Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm ci & npm --prefix api ci & npm --prefix admin ci & npm --prefix site ci & wait

      - name: Setup project for CI run
        run: npm run setup:ci && npm --prefix admin run setup:ci && npm --prefix site run setup:ci

      - name: Test
        run: npm run test:ci

      - name: Upload test results
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: test-results
          path: "**/junit.xml"
