name: "Test Report"
on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/test-reporter@v2
        with:
          artifact: test-results
          name: Report
          path: "**/junit.xml"
          reporter: jest-junit
